@model ToDoApplication.Models.ToDo

@{
    ViewData["Title"] = "Index";
}

<h1>Your Personal Bulletin Board</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@


@*Make a ajax call to update the partial view without refreshing the site*@
<div id="tableDiv">
    @*@await Html.PartialAsync("_ToDoTable", Model)*@
</div>

<div id="addToDoForm">
    @*@using (Ajax.BeginForm("AJAXCreate", "ToDoes", new AjaxOptions
    {
        Insertion = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
    }))*@
</div>


@section Scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/site.js"></script>
}


