@model IEnumerable<ToDoApplication.Models.ToDo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@*Make a ajax call to update the partial view without refreshing the site*@
<div id="tableDiv">
    @await Html.PartialAsync("_ToDoTable", Model)
</div>



@section Scripts {
    <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>
    <script src="/js/site.js"></script>
}


