@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Organize It!</h1>
    <img src="~/Images/ToDO.png" alt="Post-it" class="responsive">

    <p>Organize It is an application that's is used for organizing your task.</p>
    <p></p>
    <p>Start organizing your tasks today!</p>
    <p>Create an account here: <a href="https://localhost:44367/Identity/Account/Register">Register</a>.</p>
    <p>Or <a href="https://localhost:44367/Identity/Account/Login">Login</a> if you're already are registered</p>
</div>


